<!doctype html>
<html lang="sv">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sundsvalls kommun AI-assistent</title>
  <style>
    html {
      font-size: 10px;
    }

    h1 {
      color: red;
    }

    .test p {
      margin-top: 11px;
    }
  </style>
</head>

<body class="test">
  <div id="qwertyroot" data-user="" data-hash="" data-assistant=""></div>
  <script type="module" src="/src/main.tsx"></script>
</body>

</html>