.sk-ai-module {
  @apply z-[100];
  &[data-fullscreen="false"] {
    @apply right-assistantright;
    @apply bottom-assistantbottom;
  }
  &[data-fullscreen="true"] {
    left: unset;
    width: calc(
      100% - var(--sk-spacing-assistantleft) - var(--sk-spacing-assistantright)
    ) !important;
    @apply right-assistantright;
    top: unset;
    @apply bottom-assistantbottom;
    height: calc(
      100vh - var(--sk-spacing-assistanttop) - var(--sk-spacing-assistantbottom)
    );
  }
}
.sk-ai-module-content-row {
  @apply bg-background-content;
}
.sk-ai-markdown {
  word-break: break-word;
}
